
<template name="postSubmit">
	<form action="" class="main form page">
		<div class="form-group">
			<label for="url" class="control-label">URL</label>
			<div class="controls">
				<input type="text" name="url" id="url" placeholder="Your URL" value="" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="Title" class="contr">Title</label>
			<div class="controls">
				<input type="text" id="title" name="title" value="" placeholder="Your Post" class="form-control">
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</template>